<div id='message-bank'>
    <div class='alert alert-danger'>{l s='Vous n\'avez pas encore rempli vos informations bancaires' Mod='Modules.Itou'}
        <div class='fancybox'><a href="#" class="alert-link">{l s='Remplir maintenant'}</a></div>
    </div>
</div>