{l s='Ajouter une vente'}
<form action='{url entity='module' name='itou' controller='purchases'}' name='addPurchase' method='GET'>
  <input name='addPurchase' type='hidden' value='1'>
  <input name='purchaseReference' type='text' value='' placeholder='{l s='Taper une référence'}' required>
  <button type='submit'>{l s='Ok'}</button>
</form>